@import url(./variables.css);


h1{
    font-size: 80px;
    position: absolute;
    width: 522px;
    height: 103px;
    left: 125px;
    top: 247px;
}

.bio{
    font-size: 20px;
    position: absolute;
    width: 491px;
    height: 165px;
    left: 130px;
    top: 434px;
}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: no-repeat;
    background-color: #EBEBEB;
}

.topNav{
    display: flex;
    background-color: #982222;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
}

.logo{
    width: 48%;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav a:hover{
    text-decoration: underline;
    color: white;
}

nav a.active{
    text-decoration: underline;
    color: white;
    padding: 10px;
}
    
.headShot{
    position: absolute;
    width: 542px;
    height: 533px;
    left: 842px;
    top: 184px;
}

.hero{
    padding: 80px 92px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1320px;
    justify-content: center;
    margin: auto;
    column-gap: 20px;
}

.avatar{
    width: 100%;
}

.heroContent{
    max-width: 613px;
}

nav {
 height: 98px;
 width: 100%;
 padding: 1%;
}

.content {
 width: 500px;
 margin: 0 auto;
}

footer {
    position: absolute;
    width: 1512px;
    height: 280px;
    left: 0px;
    top: 1541px;
    width: 100%;
    background-color: #982222;
}


body {
 height: 100%;
 width: 100%;
}

h2{
    position: absolute;
    width: 600px;
    height: 44px;
    left: 129px;
    top: 776px;
}

.plantpreview{
    position: absolute;
    width: 312.09px;
    height: 569px;
    left: 98px;
    top: 998px;
}

h3{
    font-size: 40px;
    position: absolute;
    width: 378px;
    height: 58px;
    left: 641px;
    top: 1110px;
}

.plantsummary{
    font-size: 20px;
    position: absolute;
    width: 756px;
    height: 58px;
    left: 641px;
    top: 1218px;
}

.button{
    font-size: 20px;
    color: #982222;
    position: absolute;
    width: 235px;
    height: 57px;
    left: 641px;
    top: 1326px;
    border-radius: 10px
}

h4{
    font-size: 40px;
    position: absolute;
    width: 478px;
    height: 58px;
    left: 129px;
    top: 1763px;
}

.tdsummary{
    font-size: 20px;
    position: absolute;
    width: 549px;
    height: 80px;
    left: 126px;
    top: 1887px;
}

.button{
    font-size: 20px;
    position: absolute;
    width: 235px;
    height: 57px;
    left: 123px;
    top: 2019px;
    border-radius: 10px;
}

.tdpreviewdesktop{
    position: absolute;
    width: 755px;
    height: 434px;
    left: 583px;
    top: 1696px;
}

.tdpreviewmobile{
    position: absolute;
    width: 172px;
    height: 331px;
    left: 1245px;
    top: 1744px;
}

h5{
    font-size: 40px;
    position: absolute;
    width: 411px;
    height: 58px;
    left: 973px;
    top: 2335px;

}

.happytrailssummary{
    font-size: 20px;
    position: absolute;
    width: 425px;
    height: 67px;
    left: 972px;
    top: 2450px;
}

.happytrailsdesktop{
    position: absolute;
    width: 552px;
    height: 344px;
    left: 55px;
    top: 2355px;
}

.happytrailsmobile{
    position: absolute;
    width: 170px;
    height: 339px;
    left: 647px;
    top: 2355px;
}

.button{
    font-size: 20px;
    color: #982222;
    position: absolute;
    width: 235px;
    height: 57px;
    left: 641px;
    top: 1326px;
    border-radius: 10px
}

h6{
    font-size: 40px;
    position: absolute;
    width: 406px;
    height: 58px;
    left: 129px;
    top: 2960px;
}

.travelbuddysummary{
    font-size: 20px;
    position: absolute;
    width: 786px;
    height: 58px;
    left: 129px;
    top: 3078px;
}

.button{
position: absolute;
width: 235px;
height: 57px;
left: 129px;
top: 3202px;
background: #982222;
border-radius: 10px;
}

.travelbuddy{
    position: absolute;
    width: 287px;
    height: 569px;
    left: 1117px;
    top: 2851px;
}

.contact{
    position: absolute;
    left: 42.2%;
    right: 42.13%;
    top: 25.71%;
    bottom: 59.29%;
    color: white;
    font-size: 35px;
}

.email{
    font-size: 20px;
    position: absolute;
    left: 42.06%;
    right: 42%;
    top: 50%;
    bottom: 41.43%;
    color: white;
}

.copyright{
    position: absolute;
    left: 45.04%;
    right: 44.97%;
    top: 67.86%;
    bottom: 23.57%;
    font-size: 20px;
    color: white;
}