@import url(./variables.css);


h1{
    font-size: 85px;
}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: no-repeat;
}

.topNav{
    display: flex;
    background-color: #982222;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
}

.logo{
    width: 48px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav a:hover{
    text-decoration: underline;
    color: white;
}

nav a.active{
    text-decoration: underline;
    color: white;
    padding: 10px;
}
    
.headShot{
    width: 365px;
    padding: 34px 40px;
}

.hero{
    padding: 80px 92px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1320px;
    justify-content: center;
    margin: auto;
    column-gap: 20px;
}

.avatar{
    width: 100%;
}

.heroContent{
    max-width: 613px;
}

.inline-block {
 display: inline-block;
 vertical-align: top;   
}

nav {
 height: 98px;
 width: 100%;
 padding: 1%;
}

.heroImg {
 height: 600px;
 padding: 25px;
}
.profilepicture {
    height: 100px;
    width: 100px;
}
.content {
 width: 500px;
 margin: 0 auto;
}
footer {
 height: 280px;
 width: 1512px;
}
footer a{
    text-decoration: none;
    color: var(--Secondary);
    padding: 10px;
}
body {
 height: 100%;
 width: 100%;
}
p.a {
 font-family: Inter;
 font-size: 24px;
 font-style: medium;
}
p.b {
 font-family: Inter;
 font-size: 85px;
 font-style: bold;
}
p.c {
 font-family: Inter;
 font-size: 24px;
 font-style: medium;
}
p.d {
 font-family: Inter;
 font-size: 24px;
 font-style: medium;
}
p.e {
 font-family: Inter;
 font-size: 40px;
 font-style: semibold;
}
p.f {
 font-family: Inter;
 font-size: 24px;
 font-style: medium; 
}
p.g {
 font-family: Inter;
 font-size: 40px;
 font-style: medium;
}
